@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

body, html {
  height: 100vh;
  background-color: #1C1C24;
  text-align: center;
  overflow: hidden ;
}

.body-bg, section, #time {
  background-color: #1C1C24;
}


.hide {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.loader {
  position: fixed;
  overflow: hidden;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: #1C1C24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader_title {
  margin-top: -20px;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

.loader_subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
}

.font-redHatText{
  font-family: 'Red Hat Text', sans-serif;
}
.bg-grayishBlue{
  background-color: hsl(237, 18%, 59%);
}
.text-grayishBlue{
  color: hsl(237, 18%, 59%);
}
.text-softRed{
  color: hsl(345, 95%, 68%);
}

.bg-darkDesaturatedBlue {
  background-color: hsl(236, 21%, 26%);
}

.bg-slightlyDarkerDesBlue {
  background-color: hsl(236, 21%, 20%);
}

.bg-veryDarkBlue{
  background-color: hsl(235, 16%, 14%);
}

.bgmostlyBlackBlue {
  background-color: hsl(234, 17%, 12%);
}

.container-shadow{
    -webkit-box-shadow: 0px 17px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 12px 1px rgba(0,0,0,0.75);
}

.bottom-flip-shadow{
    -webkit-box-shadow: inset 0px -2px 1px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: inset 0px -2px 1px 0px rgba(0,0,0,0.42);
    box-shadow: inset 0px -2px 1px 0px rgba(0,0,0,0.42);
}

.top-flip-shadow{
    -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.42);
    box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.42);
}

.flip-card-top {
    animation: flip-top 350ms ease-in;
    transform-origin: bottom;
}

@keyframes flip-top {
    100% {
        transform: rotateX(90deg);
    }
}

.flip-card-bottom {
    animation: flip-bottom 350ms ease-in-out 350ms;
    transform-origin: top;
    transform: rotateX(90deg);
}

@keyframes flip-bottom {
    100% {
        transform: rotateX(0deg);
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {
#time {
  scale: 0.5;
}
}

@media only screen and (max-device-width: 767px) 
                   and (orientation: portrait) {
                    #time {
  scale: 0.4;
}
}

@media only screen and (max-device-width: 700px)
                   and (orientation: portrait) {
                    #time {
  scale: 0.3;
}
}
